h1 {font-family: 'Josefin Slab', serif;
margin-left: 20px;}
h2 {font-family: 'Josefin Slab', serif;
margin-left: 20px;}
label {font-family: 'Josefin Slab', serif;
margin-top: 20px;
font-weight: 700;}
div {font-family: 'Josefin Slab', serif;}
p {font-family: 'Josefin Slab', serif;
    margin-left: 20px; font-size: large;}
i {color: #80E7F2;}

.breadcrumbs {
    font-weight: 500;
    font-size: larger;
    margin-left: 20px;
}

#logo {
    margin: 12px;
}

button {
    background-color: #04738C;
    font-family: 'Josefin Slab', serif ;
    font-size: x-large;
    font-weight: 600;
    color: #F2F2F2;
    border: 0px;
    padding: 5px 40px;
    border-radius: 2rem;
    margin-top: 20px;
}

button:hover {
    background-color: #00B0D8;
}

nav ul {
    list-style: none;
    font-size: xx-large;   
    font-weight: 500;
    display:flex;
    justify-content: space-evenly;
    align-items: flex-end;  
}

ul {
    font-family: 'Josefin Slab', serif;
    list-style: none; 
}

a {
    color: black;
    text-decoration: none;
}

.bubbles {
    position: relative;
    left: 40px;
    top: 20px;
    z-index: -1000;
    margin-left: 0px;
}

.ratings {
    margin: 20px;
}

.macros {
    font-size: large;
    padding-left: 20px;
}

/*Home*/
.latestPostContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.fa-circle-chevron-left {
    display: none;
    position: relative;
    right: -40px;
}

.fa-circle-chevron-right {
    display: none;
    position: relative;
    right: 40px;
}

.fa-circle-chevron-left, .fa-circle-chevron-right{
    color: #04738C;
}

.postContainer {
    margin: 20px;
    max-width: 350px;
    border: solid 1px;
}
.postContainer img{
    max-width: 350px;
    margin: auto;
}

.postContainer h2 {
    margin: 20px;
}

/*recipes*/
.recipePostContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0px;
}

.recipeContainer {
    border: solid 2px;
    display: flex;
    width: 800px;
}

.recipeContainer img{
    width: 350px;
}

/*specificRecipe*/
.recipeInfo {
display: flex;
flex-direction: column;
align-items: center;
}

.recipeInfo img {
max-width: 400px;
}

.underlineApproach {
    background-color: black;
    height: 2px;

}

/*About*/
.aboutContainer {
    display: flex;
    margin-bottom: 20px;
}

.aboutContainer img {
    max-width: 250px;
}

/*Contact*/
.contactContainer {
    display: flex;
    gap: 20px;
}

.textContainer {
    max-width: 300px;
}

.contactForm {
    display: flex;
    flex-direction: column;
}

#eMailContact {
    width: 200px;
}

#mesageContact {
    width: 350px;
}


/*main*/
main{
    max-width: 900px;
    margin: auto;
}

/*Body*/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/*footer*/

footer {
    background-color: #F2F2F2;
    color: #594C3B;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

footer a {
    color: #594C3B;
}

footer i {
    color: #594C3B;
    font-size: xx-large;
}

.socialMediaIcons {
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

@media only screen and (max-width: 600px) {
    header {
        background-color: #F2F2F2;
    }

    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 10px;
    }

    nav ul {
        font-size: large;
        font-weight: 700;
    }
    .bubbles {
        display: none;
    }
}
