h1 {font-family: 'Josefin Slab', serif;
margin-left: 20px;}
h2 {font-family: 'Josefin Slab', serif;
margin-left: 20px;}
label {font-family: 'Josefin Slab', serif;
margin-top: 20px;
font-weight: 700;}
div {font-family: 'Josefin Slab', serif;}
p {font-family: 'Josefin Slab', serif;
    margin-left: 20px; font-size: large;}
i {color: #80E7F2;}

.breadcrumbs {
    font-weight: 500;
    font-size: larger;
    margin-left: 20px;
}

#logo {
    margin: 12px;
}

button {
    background-color: #04738C;
    font-family: 'Josefin Slab', serif ;
    font-size: x-large;
    font-weight: 600;
    color: #F2F2F2;
    border: 0px;
    padding: 5px 40px;
    border-radius: 2rem;
    margin: 20px;
}

button:hover {
    background-color: #00B0D8;
}

nav ul {
    list-style: none;
    font-size: xx-large;   
    font-weight: 500;
    display:flex;
    justify-content: space-evenly;
    align-items: flex-end; 
    max-width: 900px; 
    margin: auto;
    padding: 20px 0px;
}

ul {
    font-family: 'Josefin Slab', serif;
    list-style: none; 
}

a {
    color: black;
    text-decoration: none;
}

.bubbles {
    position: relative;
    left: 40px;
    top: 20px;
    z-index: -1000;
    margin-left: 0px;
}

.ratings {
    margin: 20px;
}

.waitSpinner {
    border: 30px solid  #80E7F2;
    border-top:  30px solid #04738C;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    animation: spin 600ms linear infinite;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*Home*/
.latestPostContainer {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.arrayOfPosts {
    display: flex;
    gap: 20px;
}

#previousButton {
    position: relative;
    right: -40px;
}

#nextButton {
    position: relative;
    right: 40px;
}

.fa-circle-chevron-left, .fa-circle-chevron-right{
    color: #04738C;
}

.postContainer {
    margin: auto;
    max-width: 350px;
    border: solid 1px;
}
.postContainer img{
    width: 100%;
    height:auto;
}

.postContainer h2 {
    margin: 20px;
}

/*recipes*/
.recipePostContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto 20px;
}

.recipeContainer {
    border: solid 2px;
    display: flex;
    width: auto;
}

.recipeContainer img{
    max-width: 350px;
    width: 100%;
    height:auto;
}

.recipeInfoContainer {
    flex-grow: 2;
}

#morePostsButton {
    color: #04738C;
    margin: 20px;
}

.centerTheChevron{
    display: flex;
    justify-content: center;
}

/*specificRecipe*/
.recipeInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipeInfo img {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 20px;
}

.underlineApproach {
    background-color: black;
    height: 2px;
    margin: auto 20px ;
}

.approachSection {
    max-width: 450px;
}

.ingrediensContainer {
    color: white;
    background-color: #047388;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

.ingredienser {
    display: flex;
    font-weight: bold;
}

.ingredienser p {
    margin-right: 10px;
    gap: 10px;
    margin-bottom: 10px;
}

.recipeInfoContainers {
    display: flex;
    margin: 20px;
    gap: 20px;
    flex-wrap: wrap;
}


.macros {
    display: flex;
    flex-direction: column; 
    background-color: #80E7F2;
    font-weight: bold;
    border-radius: 2rem;
    width: 200px;
    height: 200px;
    margin: auto;
    text-align: center;
}

.macros i {
    color: #047388;
    margin: auto;
    padding-top: 10px;
}

.macros p {
margin-right: 10px;
margin: auto;
}
    

/*About*/
.aboutContainer {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.aboutContainer img {
    max-width: 250px;
    width: 100%;
    height: auto;
    margin: 20px;
}

/*Contact*/
.contactContainer {
    display: flex;
    gap: 20px;
}

.textContainer {
    max-width: 300px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

#eMailContact {
    max-width: 200px;
    width: 100%;
    height: auto;
}

#mesageContact {
   max-width: 350px;
   width: 100%;
   height: auto;
}


/*main*/
main{
    max-width: 900px;
    margin: auto;
}

/*Body*/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

/*footer*/

footer {
    background-color: #F2F2F2;
    color: #594C3B;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

footer a {
    color: #594C3B;
}

footer i {
    color: #594C3B;
    font-size: xx-large;
}

.socialMediaIcons {
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

@media only screen and (max-width: 900px) {
    .latestPostContainer {
        flex-direction: column;
    }

    .fa-circle-chevron-left, .fa-circle-chevron-right{
     opacity: 0%;
    }

    .recipeContainer {
        flex-direction: column;
    }

    .contactContainer {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    header {
        background-color: #F2F2F2;
    }

    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-bottom: 10px;
    }

    nav ul {
        font-size: large;
        font-weight: 700;
    }
    .bubbles {
        display: none;
    }
}
